<footer class="footer-bg-color">
  <div class="container-fluid">
    <div class="row text-center d-flex justify-content-center" id="kontaktai">
      <div class="col-sm-12 col-md-8 pt-5">
        <h1 style="font-size: 20px;">Kontaktai</h1>
        <p>tel: +370 60043160</p>
        <p>el.pastas: savrunakretinga@gmail.com</p>
        <p><a href="https://www.facebook.com/paslaugos"><i class="fab fa-facebook"></i></a></p>
      </div>
      <div class="col-12 pb-3">
        <p class="footer-small-text"><span>&copy; UAB Savruna</span></P>
      </div>
    </div>
  </div>
</footer>
