<nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="#" ><%= image_tag "logo.png", class: "logo" %></a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links"><i class="fas fa-phone"></i>+370 60043160</a>
            </li>
            <li>
                <a href="#" class="nav-links"><i class="fas fa-envelope"></i>savrunakretinga@gmail.com</a>
            </li>
        </ul>
    </nav>