<div class="banner">

</div>
<h1 class="display-1 text-center">Įvairiais kiekiais tiesiai iš karjero vežame</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Žvyra betonavimui (gamtinis)</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Žvyras sijotas 0,4 grindu betonavimui</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Žvyras kelinis</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Ašas 0-32,0-22</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Smėlį</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Malta betona</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Juodžemį vejos sodinimui,sijota be grumslu</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Juodžemis Augalinis sluoksis</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Kumuso juodžemis</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Juodžemis su durpėm (šiltnamiams)</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Moli</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Žvirgždo skalda frakcijos 4/16,16/32,0/32,0/45</h5>
        </div>
      </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Dolomito skalda frakcijos 0/45,0/32 trinkeliu pagrindui</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Žvirgžda frakcijos 16/32,4/16</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 200px; margin-bottom: 10px;">
        <img src="https://serwer1306925.home.pl/darek/wp-content/uploads/2015/02/zvyras2.jpg" class="card-img-top" alt="..." style="width: 199px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Atsijos</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="display-1 text-center">Nuomojami savivarciai</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width: 252px; margin-bottom: 10px;">
        <img src="https://skelbiu-img.dgn.lt/1_18_2988763981/zvyras-smelis-juodzemis-skalda.jpg" class="card-img-top" alt="..." style="width: 250px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Rennault 5kb</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 252px; margin-bottom: 10px;">
        <img src="https://skelbiu-img.dgn.lt/1_18_2917418439/zvyras-smelis-juodzemis-skalda.jpg" class="card-img-top" alt="..." style="width: 250px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Rennault 5kb</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 252px; margin-bottom: 10px;">
        <img src="https://skelbiu-img.dgn.lt/1_18_3046305403/zvyras-smelis-juodzemis-skalda.jpg" class="card-img-top" alt="..." style="width: 250px; height:100%;">
        <div class="card-body">
          <h5 class="card-title">Rennault 5kb</h5>
        </div>
      </div>
    </div>
  </div>
</div>
