.banner {
  width: 100%;
  height: 50vh;
  margin-bottom: 40px;
  background-image: asset-url('ban.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.banner p {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 10px;
}
