.navbar-lewagon {
  justify-content: space-between;
  background: rgb(1,14,106);
  background: linear-gradient(133deg, rgba(1,14,106,1) 0%, rgba(7,197,238,1) 50%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  height: 100%;
}
